html{
  background-color: #cec6c6;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,h2,h3,h4,h5,h6, p {
  font-family: 'Inconsolata', monospace;
  color: white;
}

div#home{
  position: relative;top: 90px;
}



img {
  float: center;
  width:  100px;
  /* height: 100px; */
  object-fit: cover;
  max-width: 100%;
  height: auto;
  
}

img:hover {
    opacity: 0.5;
  
}